.gif #selector {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  display: block;
}

footer {
  background-color: lightgrey;
  padding: 10px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

/*Navigation*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  font-family: "Oswald", sans-serif;
}

.navigation a {
  font-weight: 300;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

.navigation a:hover {
  color: goldenrod;
}

.navigation ul,
.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation li,
.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

/**/
.meniu {
  font-family: "Oswald", sans-serif;
  padding: 50px;
}
.meniu a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}
.meniu > a {
  padding: 5px 10px 5px 0;
  margin-right: 10px;
  width: 80px;
  letter-spacing: 1px;
}
.meniu > a:hover {
  color: goldenrod;
}
/* Section - app */
.section-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-app .app-image {
  width: 100%;
  flex-grow: 1;
  margin-right: 40px;
  overflow: hidden;
}

.section-app .app-image img {
  display: block;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.section-app .app-image:hover img {
  transform: scale(1.18);
}

.section-app .text-container {
  width: 30%;
  flex: 0 1 30%;
}

.section-app .text-container h3 {
  font-size: 16px;
  letter-spacing: 1px;
}

.section-app .text-container p {
  line-height: 28px;
  text-align: justify;
  letter-spacing: 1px;
}

/*Section - global*/
.section {
  width: 100%;
  margin: 20px auto 80px;
  max-width: 1300px;
  font-family: "Oswald", sans-serif;

  /*top left+right bottom*/
}
/*Section - features*/
.section-features {
  display: flex;
  justify-content: space-between;
}

.section-features .feature {
  width: 30%;
}

.section-features .feature img {
  width: 100%;
}

.section-features .feature-text {
  display: block;
  margin: 12px 0 16px;
  letter-spacing: 1px;
}

.section-features .feature-sub-text {
  display: block;
  font-size: 16px;
  text-align: justify;
  line-height: 22px;
  letter-spacing: 1px;
}
/**/

div.furniture {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 15px;
  letter-spacing: 1px;
}

div.beds {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  letter-spacing: 1px;
}

.ideas {
  padding: 48px;
}
.ideas > a {
  outline: solid black;
  margin: 5px;
  letter-spacing: 1px;
}
div.ideas {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  letter-spacing: 1px;
}
.ideas img {
  display: block;
}

.nuoroda {
  color: black;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  transition: color 1s ease-in-out;
  text-align: center;
  padding: 50px;
  letter-spacing: 1px;
}
.nuoroda > a:hover {
  color: goldenrod;
}

div.wardrobes,
div.chairs,
div.tables,
div.lamps,
div.rugs,
div.sideboards,
div.wallpapers,
div.decorations,
div.plants,
div.sofas,
div.mirrors {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  letter-spacing: 1px;
}

div.return {
  margin: 10px;
  padding: 10px;
  color: goldenrod;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
}
.return a {
  color: goldenrod;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  margin: 15px;
  text-decoration: none;
  letter-spacing: 1px;
}

* {
  box-sizing: content-box;
}
