header {
  text-align: center;
}

footer {
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 13px;
}
div.logo {
  margin-top: 10px;
}

.meniu a {
  color: black;
  font-size: 18px;
  font-family: sans-serif;
  margin: 15px;
  text-decoration: none;
}
.meniu > a {
  padding: 5px 10px 5px 0;
  margin-right: 10px;
  transition: color 1.5s ease-in-out;
  width: 80px;
}
.meniu > a:hover {
  color: darkolivegreen;
  font-size: 1.5rem;
}
/* Section - app */
.section-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-app .app-image {
  width: 30%;
  flex-grow: 1;
  margin-right: 40px;
}

.section-app .app-image img {
  display: block;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.section-app .app-image:hover img {
  transform: scale(1.18);
}

.section-app .text-container {
  width: 30%;
  flex: 0 1 30%;
}

.section-app .text-container h3 {
  font-size: 18px;
}

.section-app .text-container p {
  line-height: 28px;
}

/*Section - global*/
.section {
  width: 100%;
  margin: 20px auto 80px;
  max-width: 1300px;
  font-family: sans-serif;

  /*top left+right bottom*/
}
/*Section - features*/
.section-features {
  display: flex;
  justify-content: space-between;
}

.section-features .feature {
  width: 30%;
}

.section-features .feature img {
  width: 100%;
}

.section-features .feature-text {
  display: block;
  margin: 12px 0 16px;
}

.section-features .feature-sub-text {
  display: block;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
}
/**/

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.furniture {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.beds {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.ideas {
  padding: 48px;
}
.ideas > a {
  outline: solid black;
  margin: 5px;
}
div.ideas {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.ideas img {
  display: block;
}

.nuoroda {
  color: black;
  font-size: 13px;
  font-family: Optima;
  transition: color 1s ease-in-out;
  text-align: center;
  padding: 15px;
}
.nuoroda > a:hover {
  color: darkolivegreen;
}
div.wardrobes {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.chairs {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
div.return {
  margin: 10px;
  padding: 10px;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  text-decoration: none;
}
.return a {
  color: black;
  font-size: 15px;
  font-family: sans-serif;
  margin: 15px;
  text-decoration: none;
}

div.tables {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.lamps {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.rugs {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.sideboards {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.wallpapers {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.decorations {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.plants {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.sofas {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.mirrors {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

* {
  box-sizing: content-box;
}

/* Style the search field */
form.example input[type="text"] {
  font-size: 13px;
  border: 1px solid grey;
  margin: 15px;
  float: right;
  width: 13%;
  background: #f1f1f1;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
