header {
  text-align: center;
}

footer {
  background-color: lightgrey;
  padding: 10px;
  font-family: Tahoma;
  font-size: 13px;
}
div.logo {
  margin-top: 10px;
}
p {
  color: black;
  font-size: 16px;
  font-family: Tahoma;
  padding: 15px;
  margin: 15px;
  text-decoration: none;
  text-align: center;
}
.meniu a {
  color: black;
  font-size: 18px;
  font-family: Tahoma;
  margin: 15px;
  text-decoration: none;
}
.meniu > a {
  padding: 5px 10px 5px 0;
  margin-right: 10px;
  transition: color 1s ease-in-out;
  width: 80px;
}
.meniu > a:hover {
  color: darkolivegreen;
  font-size: 1.5rem;
}

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.furniture {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.about_us {
  color: black;
  font-size: 18px;
  font-family: Tahoma;
  margin: 15px;
  text-decoration: none;
  text-align: center;
}

div.beds {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.ideas {
  padding: 48px;
}
.ideas > a {
  outline: solid black;
  margin: 5px;
}
div.ideas {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.nuoroda {
  color: black;
  font-size: 13px;
  font-family: Tahoma;
  transition: color 1s ease-in-out;
  text-align: center;
  padding: 15px;
}
.nuoroda > a:hover {
  color: darkolivegreen;
}
div.wardrobes {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.chairs {
  text-align: center;
  display: grid;
  margin: 15px;
  padding: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
div.return {
  margin: 10px;
  padding: 10px;
  color: black;
  font-family: Tahoma;
  font-size: 15px;
  text-decoration: none;
}
.return a {
  color: black;
  font-size: 15px;
  font-family: Tahoma;
  margin: 15px;
  text-decoration: none;
}

div.tables {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.lamps {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.rugs {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.sideboards {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.wallpapers {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.decorations {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.plants {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.sofas {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

div.mirrors {
  text-align: center;
  display: grid;
  margin: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

* {
  box-sizing: content-box;
}

/* Style the search field */
form.example input[type="text"] {
  font-size: 13px;
  border: 1px solid grey;
  margin: 15px;
  float: right;
  width: 13%;
  background: #f1f1f1;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
